.productPage {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    @include breakpoints($tablet) {
        flex-direction: column;
        align-items: center;
        margin-top: 9rem;
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: start;
        max-width: 20rem;
    }
    &__details {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 50rem;
        @include breakpoints($tablet) {
            align-items: center;
        }
    }
    &__title {
        font-weight: 400;
        @include breakpoints($tablet) {
            text-align: center;
        }
    }
    &__price {
        font-size: 2rem;
        font-weight: 500;
    }
    &__quantity {
        display: flex;
        align-items: center;
        gap: .5rem;
        &__input {
            font-size: 1.8rem;
            width: 3rem;
            height: 100%;
            display: flex;
            align-items: center;
            text-align: center;
        }
        &__operator {
            display: flex;
            font-size: 2.2rem;
            height: 3rem;
            width: 3rem;
            justify-content: center;
            align-items: center;
            border: .1rem solid #D4D4D8;
        }
    }
    &__total {
        font-size: 2.5rem;
    }
}