.cartItem {
    display: grid;
    grid-template-columns: 20rem minmax(20rem, 55rem) 5rem;
    max-width: 80rem;
    margin-left: auto;
    @include breakpoints($mobile) {
        grid-template-columns: 1fr;
        justify-items: center;
        margin-left: 0;
        gap: 1rem;
    }
    &__img {
        display: flex;
        align-items: start;
        img {
            width: 15rem;
        }
    }
    &__details {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__title {
        font-size: 1.3rem;
    }
    &__total {
        font-size: 1.8rem;
    }
    &__options {
        display: flex;
        justify-content: flex-end;
    }
}