.cartItem {
    display: grid;
    grid-template-columns: 20rem 1fr 20rem;
    width: 80rem;
    &__img {
        display: flex;
        align-items: start;
        height: 30rem;
        img {
            width: 15rem;
        }
    }
    &__details {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__title {
        font-size: 1.3rem;
    }
    &__total {
        font-size: 1.8rem;
    }
    &__options {
        display: flex;
        justify-content: flex-end;
    }
}