.menu {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-weight: 500;
    gap: 10rem;
    padding: 1rem 2rem;
    border-bottom: .1rem solid #E4E4E7;
    &__links {
        display: flex;
        margin-left: auto;
        gap: 10rem;
    }
    &__link {
        font-size: 1.3rem;
        color: #000;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        &::after {
            content: '';
            display: block;
            height: .2rem;
            width: 0;
            background: #000;
            transition: width .3s ease-in;
        }
        &:hover::after {
            width: 100%;
        }
    }
    &__options {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}