.products {
    padding: 2rem;
    &__title {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    &__filter {
        margin-bottom: 2rem;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }
    &__filter {
        display: flex;
        gap: 1rem;
        align-items: center;
        label {
            font-size: 1.3rem;
        }
        &__select {
            padding: .5rem;
            width: 20rem;
            font-size: 1.1rem;
            background: none;
            outline: none;
            border: .1rem solid #000;
        }
    }
    &__error {
        font-size: 1.5rem;
        color: #000;
    }
}