.header {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: .1rem solid #E4E4E7;
    @include breakpoints($tablet) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background: #fff;
    }
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border-bottom: .1rem solid #E4E4E7;
        z-index: 3;
        @include breakpoints($tablet) {
            justify-content: space-between;
        }
    }
    &__menu {
        @include breakpoints($tablet) {
            height: calc(100vh - 11rem);
            position: absolute;
            left: 0;
            right: 0;
            background: #fff;
            z-index: 2;
            top: 8.25rem;
            height: calc(100vh - 8.26rem);
            transition: top .3s ease-in;
        }
    }
}